.main {
    width: 500px;
    margin: 17vh auto 0px;
    background: #ffabb7;
    padding: 30px;
    border-radius: 30px;
    .turns {
        background-color: #f1f1f1;
        border-radius: 20px;
        padding: 20px;
        p {
            margin: 0px;
        }
    }
}
.results-board {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 0px;
    align-items: center;
    .player,
    .system {
        background-color: #f1f1f1;
        border-radius: 20px;
        padding: 35px;
    }
    .win {
        background-color: green;
        color: white;
    }
    .lose {
        background-color: red;
        color: white;
    }
    .remained-turns {
        font-weight: bold;
        text-transform: uppercase;
    }
}
.choices {
    justify-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    div {
        border: dashed 3px #f1f1f1;
        padding: 25px;
        border-radius: 50%;
        background-color: #f1f1f1;
        transition: all 0.4s ease;
    }
    img {
        height: 60px;
    }
}
.choices div:hover {
    transition: all 0.4s ease;
}
.play-reset .btn {
    width: 95%;
    color: white;
    border-radius: 20px;
    padding: 20px;
    text-transform: uppercase;
    font-weight: bold;
}
