<div class="container">
  <div class="main text-center">
    <div class="turns">
      <p>Rock, Paper And Scissors by <strong>Saeed Zahedi</strong></p>
    </div>

    <div class="results-board">
      <div class="player" [ngClass]="{win: pwin==0, lose: pwin==1}">
        <div>
          <h3>Player</h3>
        </div>
        <div>
          <h3>
            {{playerWon}}
          </h3>
        </div>
      </div>
      <div class="remained-turns">
        turns remain<br>
        {{turns}}
      </div>
      <div class="system" [ngClass]="{win: swin==0, lose: swin==1}">
        <div>
          <h3>System</h3>
        </div>
        <div>
          <h3>
            {{systemWon}}
          </h3>
        </div>
      </div>
    </div>

    <div class="choices text-center">
      <div [style.border-color]="active==0 ? 'green': '#818181'" (click)="onSelectChoice(0)">
        <img src="assets/rock.png" alt="">
      </div>
      <div [style.border-color]="active==1 ? 'green': '#818181'" (click)="onSelectChoice(1)">
        <img src="assets/paper.png" alt="">
      </div>
      <div [style.border-color]="active==2 ? 'green': '#818181'" (click)="onSelectChoice(2)">
        <img src="assets/scissors.png" alt="">
      </div>
    </div>
    <div class="play-reset" style="margin-top:30px;" (click)="onPlay()">
      <button class="btn btn-primary">play</button>
    </div>
    <br>
    <div class="play-reset" (click)="onReset()">
      <button class=" btn btn-danger">reset</button>
    </div>
  </div>
</div>